@model Category
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Category</h1>
<br>
<br>
<form method="post" asp-action="DeletePost">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="mb-3">
            <lable asp-for="Name">Name</lable>
            <input asp-for="Name" disabled class="form-control" />
        </div><div class="mb-3">
            <lable asp-for="DisplayOrder">DisplayOrder</lable>
            <input asp-for="DisplayOrder" disabled class="form-control" />
        </div>
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>

